.footer {
  height: 180px;
  display: flex;
  // justify-content: center;
  padding-top: 32px;
  background-color: #232629;

  .socials {
    display: flex;
    // justify-content: space-between;
    width: 100%;

    .social-item {
      display: flex;
      flex-direction: column;
      // margin-top: 10px;
      margin-left: 45%;
    }
  }
  .item {
    color: #ffffff;
    position: absolute;
    margin-top: 8%;
    .footer-item {
      margin-left: 10px;
    }

    .footer-link-list {
      margin-top: -3.2%;
      margin-left: 200px;
      .footerItem {
        color: #ffffff !important;
      }
    }
  }
}
