.footer {
  height: 140px;
  display: flex;
  justify-content: center;
  background-color: #232629;

  .socials {
    display: flex;
    width: 100%;

    .social-item {
      display: flex;
      flex-direction: column;
      margin-top: 10px;
      margin-left: 35%;
    }
  }
  .footer-item {
    padding-right: 10px;
  }
  .item {
    color: #ffffff;
    display: flex;
    justify-content: center;
    margin: 40px;

    .footer-link-list {
      display: flex;

      justify-content: center;
      .footerItem {
        color: #ffffff !important;
      }
    }
  }
}
