.post-form {
  min-width: 0 !important;
  flex: 1 auto !important;
  color: #242729;
  width: 100%;
  padding: 0 !important;

  .question-form {
    color: #242729;

    .post-button {
      margin-top: 32px !important;

      button {
        margin: 0 2px 0 2px;
        color: #fff;
        background-color: #0095ff;
        box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.4);
        padding: 0.8em;
        border: 1px solid transparent;
        border-radius: 3px;
        outline: none;
        font-family: inherit;
        font-size: 13px;
        font-weight: normal;
        line-height: 1.15384615;
        text-align: center;
        text-decoration: none;
        cursor: pointer;

        &:hover {
          color: #fff;
          background-color: #0077cc;
          text-decoration: none;
        }
      }
    }

    .question-layout {
      box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05), 0 20px 48px rgba(0, 0, 0, 0.05), 0 1px 4px rgba(0, 0, 0, 0.1);
      padding: 16px !important;
      background-color: #fff !important;
      border-color: #d6d9dc !important;
      border-radius: 3px !important;
      border-style: solid !important;
      border-width: 1px !important;

      .title-grid {
        margin-bottom: 16px;
        display: flex;
        flex: 1 auto !important;
        flex-direction: column;
        color: #242729;

        label {
          margin-bottom: 4px;
          display: block;
          padding: 0 2px;
          color: #0c0d0e;
          font-family: inherit;
          font-size: 15px;
          font-weight: 700;
          cursor: pointer;

          .title-desc {
            font-weight: normal;
            padding: 0;
            margin: 0;
            margin-top: 2px !important;
            color: #3c4146;
            font-size: 12px;
            clear: both;
          }
        }
        .title-input {
          flex: 1 auto !important;
          font-size: 13px;
          -webkit-appearance: none;
          width: 100%;
          margin: 0;
          padding: 0.6em 0.7em;
          border: 1px solid #bbc0c4;
          border-radius: 3px;
          background-color: #fff;
          color: #0c0d0e;
          line-height: 1.15384615;

          &::placeholder {
            opacity: 0.6;
          }
        }
      }

      .tag-grid {
        margin-bottom: 16px;
        display: flex;
        flex: 1 auto !important;
        flex-direction: column;
        color: #242729;

        label {
          margin-bottom: 4px;
          display: block;
          padding: 0 2px;
          color: #0c0d0e;
          font-family: inherit;
          font-size: 15px;
          font-weight: 700;
          cursor: pointer;

          .tag-desc {
            font-weight: normal;
            padding: 0;
            margin: 0;
            margin-top: 2px !important;
            color: #3c4146;
            font-size: 12px;
            clear: both;
          }
        }
        .tag-input {
          flex: 1 auto !important;
          font-size: 13px;
          -webkit-appearance: none;
          width: 100%;
          margin: 0;
          padding: 0.6em 0.7em;
          border: 1px solid #bbc0c4;
          border-radius: 3px;
          background-color: #fff;
          color: #0c0d0e;
          line-height: 1.15384615;

          &::placeholder {
            opacity: 0.6;
          }
        }
      }
    }
  }
}

.body-grid {
  margin-top: 16px;
  margin-bottom: 16px;
  display: flex;
  flex: 1 auto !important;
  flex-direction: column;
  color: #242729;

  label {
    margin-bottom: 4px;
    display: block;
    padding: 0 2px;
    color: #0c0d0e;
    font-family: inherit;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;

    .body-desc {
      font-weight: normal;
      padding: 0;
      margin: 0;
      margin-top: 2px !important;
      color: #3c4146;
      font-size: 12px;
      clear: both;
    }
  }
  .s-textarea.rich-text-editor-container {
    padding: 0;
  }
  .body-input {
    flex: 1 auto !important;
    font-size: 13px;
    -webkit-appearance: none;
    width: 100%;
    margin: 0;
    padding: 0.6em 0.7em;
    border: 1px solid #bbc0c4;
    border-radius: 3px;
    background-color: #fff;
    color: #0c0d0e;
    line-height: 1.15384615;

    &::placeholder {
      opacity: 0.6;
    }
  }
}

div {
  &.ReactTags__tags {
    position: relative;
  }
  &.tag-wrapper {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  &.ReactTags__tagInput {
    width: 200px;
    border-radius: 2px;
    display: inline-block;

    input.ReactTags__tagInputField {
      height: 31px;
      margin-top: 8px;
      margin-left: 5px;
      font-size: 12px;
      width: 100%;
      border: 1px solid #eee;
      padding: 0 4px;

      &:focus {
        height: 31px;
        margin-top: 8px;
        margin-left: 5px;
        font-size: 12px;
        width: 100%;
        border: 1px solid #eee;
        padding: 0 4px;
      }
    }
  }

  &.ReactTags__selected {
    span.ReactTags__tag {
      border: 1px solid #5f8bff;
      background: #5f8bff;
      font-size: 12px;
      display: inline-block;
      padding: 5px;
      margin: 0 5px;
      cursor: move;
      border-radius: 2px;
      color: #fff;
    }

    .ReactTags__remove {
      color: rgb(211, 211, 211);
      margin-left: 5px;
      cursor: pointer;
      border: 0px;
      background-color: #5f8bff;
    }
  }

  &.ReactTags__suggestions {
    position: absolute;
    // position: relative;
    z-index: 1;

    ul {
      list-style-type: none;
      box-shadow: 0.05em 0.01em 0.5em rgba(0, 0, 0, 0.2);
      background: white;
      width: 200px;
    }

    li {
      border-bottom: 1px solid #ddd;
      padding: 5px 10px;
      margin: 0;

      mark {
        text-decoration: underline;
        background: none;
        font-weight: 600;
      }
    }

    ul li.ReactTags__activeSuggestion {
      background: #5f8affa9;
      cursor: pointer;
    }
  }
}

/* Styles for the input */

/* Styles for selected tags */

/* Styles for suggestions */
