.auth-page {
  height: 500px;
  width: 100%;
  background-color: #ffffff;
}

.register-content {
  background-color: 5f8bff;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height:400px;
}

.register-grid {
  display: flex;
  align-items: center;
  box-sizing: inherit;
}

@media (max-width: 799px) {
  .register-grid {
    flex-direction: column;
    padding: 7rem 0;
  }

  .register-content {
    height: auto;
    margin: auto 0;
  }
}

img {
  width : 50px
}