.side-bar-container {
  width: 17%;
  min-width: 206px;
  flex-shrink: 0;
  z-index: 1;
  box-shadow: 0 0 0 rgba(12, 13, 14, 0.05);
  transition: box-shadow ease-in-out 0.1s, transform ease-in-out 0.1s;
  position: relative !important;
  // background-color: #ffffff;
  background-color: #3d3d3d;
  // margin-bottom: 30%;

  .side-bar-tabs {
    float: left;
    margin-top: 40px;
    width: 100%;

    .public-tabs {
      margin-bottom: 12px;
    }

    .nav-link {
      text-decoration: none;
      // color: #525960;
      color: #c4c8cc;

      li {
        font-size: 13px;

        .menu-list-icon {
          min-width: 21px !important;
        }

        .menu-list-text {
          margin-top: 0 !important;
          margin-bottom: 0 !important;
          margin-left: 60%;
          &:hover {
            // color: #0c0d0e;
            color: #ffffff;
          }
        }
      }
    }

    .home-link {
      li {
        border-right: 3px;
        margin-bottom: 12px;
      }
    }

    .icon-link {
      li {
        border-right: 3px solid transparent;
        width: 160px;

        .menu-list-btn {
          padding-left: 8px;
          // padding-left: 50px;
        }
      }
    }

    .title {
      font-size: 12px;
      padding-left: 58px;
      margin-bottom: 5px;
    }

    .active {
      li {
        font-weight: bold;
        // background: #f1f2f3;
        background: #2d2d2d;
        // color: #0c0d0e;
        color: #f2f2f3;
        border-right: 3px solid #5f8bff;
      }

      .menu-list-text > span {
        font-weight: 700;
      }
    }
  }
}

@media (max-width: 768px) {
  .side-bar-container {
    display: none;
  }
}
