.side-bar-container {
  width: 17%;
  min-width: 200px;
  min-height: 700px;
  flex-shrink: 0;
  z-index: 1;
  box-shadow: 0 0 0 rgba(12, 13, 14, 0.05);
  transition: box-shadow ease-in-out 0.1s, transform ease-in-out 0.1s;
  position: relative !important;
  background-color: #ffffff;
  border-right: 1px solid #d6d9dc;

  .side-bar-tabs {
    float: right;
    margin-top: 40px;
    width: 150px !important;

    .public-tabs {
      margin-bottom: 12px;
    }

    .nav-link {
      text-decoration: none;
      color: #525960;

      li {
        font-size: 13px;

        .menu-list-icon {
          min-width: 21px !important;
        }

        .menu-list-text {
          margin-top: 0 !important;
          margin-bottom: 0 !important;
          margin-right: 30%;
          margin-left: 5%;
          &:hover {
            color: #0c0d0e;
          }
        }
      }
    }

    .home-link {
      li {
        border-right: 3px;
        height: 40px;
      }
    }

    .icon-link {
      li {
        border-right: 3px solid transparent;
        width: 160px;

        .menu-list-btn {
          padding-left: 8px;
        }
      }
    }

    .title {
      font-size: 12px;
      padding-left: 58px;
      margin-bottom: 5px;
    }

    .active {
      li {
        font-weight: bold;
        background: #f1f2f3;
        color: #0c0d0e;
        border-right: 3px solid #5f8bff;
      }

      .menu-list-text > span {
        font-weight: 700;
      }
    }
  }
}

@media (max-width: 768px) {
  .side-bar-container {
    display: none;
  }
}
